.contentBox {
    width: 90%;
    height: auto;
    margin-top: 150px;
    margin-right: 5%;
    margin-left: 5%;
}

.section1Box {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background-color: #343470;
    border-radius: 50px;
}

.section1Box h1 {
    color: #FFFFFF;
    font-size: 2.50vw;
    line-height: 1.2em;
    margin-left: 25%;
    margin-right: 25%;
}

.cardBox {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separator {
    width: 1px;
    height: 100%;
    background-color: #919191;
}

.card {
    width: 29%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.card img{
    width: 5vw;
}

.card a{
    color: #FFFFFF;
    align-self: flex-end;
    text-decoration: underline;
}

.section1Box p {
    text-align: justify;
}