.buildingBox {
    width: 100vw;
    height: 100vh;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.90);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: url("../../public/background.png") #030441b3;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    filter: blur(10px);
    z-index: -1;
}

.contentBox {
    height: 100%;
    width: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.topBox {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.topBox div {
    width: 150px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 3px;
    margin-right: 3px;
}

.topBox p {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 3px;
}

.midBox {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.midBox p {
    letter-spacing: 5px;
    font-size: 55px;
    text-align: center;
}

.botBox {
    width: 100%;
    height: 100%;
}

.botBox p {
    font-size: 14px;
    font-weight: 900;
}

.progressBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.emptyBar {
    width: 50%;
    height: 10px;
    display: flex;
    border-radius: 10px;
    background-color: rgb(59, 59, 59);
}

.fullBar {
    width: 0%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 10px;
    background-color: white;
}

.socialLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}

.contact {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
    padding-bottom: 15px;
}

.contact p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 15px;
}

.contact a {
    margin-left: 5px;
    color: white;
}

.contact a:hover {
    color: rgb(59, 59, 59);
}

@media (max-width: 1280px) {
    .buildingBox {
        width: 100vw;
        height: 102vh;
    }

    .background {
        width: 100vw;
        height: 102vh;
    }

    @media (max-width: 768px) or (max-height: 580px) {
        .topBox {
            margin-top: 10px;
            gap: 10px
        }

        .topBox p {
            font-size: 14px;
            font-weight: 900;
            letter-spacing: 2px;
        }

        .midBox p {
            letter-spacing: 3px;
            font-size: 35px;
            text-align: center;
        }

        .botBox p {
            font-size: 12px;
            font-weight: 900;
        }

        .emptyBar {
            height: 7px;
        }
    }

    @media (orientation: landscape) {
        .buildingBox {
            width: 100vw;
            height: 120vh;
        }

        .background {
            width: 100vw;
            height: 120vh;
        }
    }
}