.contentBox {
    width: 100%;
    height: auto;

}

.separator {
    width: 85%;
    height: 1px;
    background-color: #919191;
    margin-top: 100px;
    margin-bottom: 75px;
}

/*Section 1 avantage*/
.section1Box {
    width: 90%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
    align-items: center;
    margin-bottom: 10%;
}

.section1Box h1 {
    font-size: 2.50vw;
    line-height: 1.2em;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.section1Box h2 {
    width: 100%;
    overflow: hidden;
    height: 9vh;
}

.section1Box p {
    width: 100%;
    height: auto;
    text-align: center;
}

.section1Box a {
    width: 40%;
    height: auto;
    text-align: center;
}

.cardBox {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cardBox .separator {
    width: 1px;
    height: 90%;
    background-color: #919191;
}

.card {
    width: 28%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.card img {
    width: 5vw;
    padding-bottom: 10%;
}

.card a {
    color: #343470;
    align-self: flex-end;
    text-decoration: underline;
    transition: all 0.1s ease-in-out;
}

.card a:hover {
    color: #34347080;
    cursor: pointer;
}

/*Section 3 reservation*/
.section2Box {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(31, 31, 31);
}

.section2Box h1{
    color: #919191;
}

/*Section 4 gestion*/
.section3Box {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(31, 31, 31);
}

.section3Box h1{
    color: #919191;
}