.HeaderBox {
    height: 10%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: .875rem;
    font-family: Roboto Mono,monospace;
    font-weight: 700;
    text-transform: uppercase;
}

.headerLogo {
    width: 300px;
    height: auto;
    align-self: center;
}

.navLinkBox {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
    padding-right: 40px;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    gap: 2px
}

.btn {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    border: 2px solid #343470;
    border-radius: 50px;
    text-decoration: none;
}

.btn div {
    position: relative;
    top: 0;
    width: 100%;
    height: max-content;
    padding: 12px 8px;
    background-color: #111111;
    border-radius: 50px;
    transition: all 0.8s ease-in-out;
}

.btn .btnNormal {
    margin-left: 0%;
    background-color: #FFFFFF;
    color: #343470;
}

.btn:hover .btnNormal {
    margin-right: -100%;
    color: #FFFFFF;
}

.btn .btnHover {
    margin-left: -100%;
    background-color: #343470;
    color: #343470;

}

.btn:hover .btnHover {
    margin-left: 0%;
    color: #FFFFFF;
}

.link a {
    text-decoration: none;
    letter-spacing: 2px;
}

.normal a {
    color: #111111;
}

.active a {
    color: #343470;
    transition: all 0.4s ease-in-out;
}

.underLine {
    width: 100%;
    height: 2px;
}

.active .underLine {
    margin-left: 0%;
    background-color: #343470;
    transition: margin-left 0.5s ease-in-out;
}

.normal .underLine {
    margin-left: -100%;
    background-color: #111111;
    transition: margin-left 0.5s ease-in-out;
}

.normal:hover .underLine {
    margin-left: 0%;
}