.heroBox {
    width: 100%;
    height: 120vh;
}

.heroBoxTop {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heroTitle {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
}

.heroTitle h1 {
    color: #2c2c2c;
    text-align: left;
    font-size: 5.75vw;
    line-height: 1.2em;
    padding: 0;
    margin: 0;
}

.heroTitle h2 {
    color: #505050;
    text-align: left;
    font-size: 1.15rem;
    line-height: 1.7em;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 2.5%;
}

.heroImg {
    height: 80%;
    width: 35%;
    position: absolute;
    bottom: 4%;
    right: 0;
    margin-right: 4%;
}

.parallax {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 5px solid #FFFFFF;
}


.heroBackground {
    height: 800px;
    width: 90%;
    position: absolute;
    top: 20%;
    left: 5%;
    background: url("../../public/imgHero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    background-blend-mode: h;
    z-index: 1;
    border-radius: 30px;
    box-shadow: -5px -5px 20px 0px #000000b2;
}

.transitionTop {
    width: 100%;
    height: 20%;
    margin-bottom: -4px;

}

.heroBoxBot {
    width: 100%;
    height: 25%;
    background-color: #343470;
}